<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>Storage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="" class="img-logo">
        </div>
        <div class="search-bar">
            <img class="loupe" src="{% static 'img/loupe.png' %}" alt="">
            <div class="text-zone">search a file</div>
        </div>
        <a href="/profile" class="user-button"><img src="{% static 'img/user.png' %}" alt="" class="user"></a>
    </header>

    <main>
        <div class="left-bar">
            <div class="back bar"><p>RETOUR</p></div>
            <div class="home bar"><p>HOME</p></div>
            <div class="import-file bar"><p>IMPORTER UN FICHIER</p></div>
            <div class="delete-file bar"><p>SUPPRIMER UN FICHIER</p></div>
            <div class="create-folder bar"><p>AJOUTER UN DOSSIER</p></div>
        </div>
        <div class="explorer">
            <div class="explorer-head">
                <div class="path">
                    <H1>{{directory}}</H1>
                </div>
                <div class="sorting-button">
                    <img src="{% static 'img/edit.png' %}" alt="">
                </div>
            </div>
            <div class="explorer-files">
                <div class="infos">
                    <H1 class="infos-name">Nom</H1>
                    <H1>Propriétaire</H1>
                    <H1>Dernière modification</H1>
                    <H1>Taille du fichier</H1>
                </div>
                <div class="files">
                        {% for file in files %}
                            <div class="file">
                                <div class="name">
                                    <a href="{% static 'img/' %}{{ file.name }}" target="_blank">{{ file.name }}</a>
                                </div>
                                <div class="date">{{ file.mtime }}</div>
                                <div class="size">{{ file.size }} Ko</div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    <div class="popup-tri">
        <div class="tri-title">Trier par</div>
        <div class="tri-choices">
            <div class="tri-choice"><p>Nom</p></div>
            <div class="tri-choice"><p>Propriétaire</p></div>
            <div class="tri-choice"><p>Dernière modification</p></div>
            <div class="tri-choice"><p>Taille du fichier</p></div>
        </div>
    </div>
    <div class="popup-new-folder">
        <div class="new-folder-title">Ajouter un dossier</div>
        <form action="#" class="new-folder-name">
            <input type="text" class="new-folder-name-input">
            <button class="new-folder-validate">VALIDER</button>
        </form>
        <div class="new-folder-annuler">Annuler</div>
    </div>
    </main>

    <footer></footer>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sortingButton = document.querySelector('.sorting-button');
        const popupTri = document.querySelector('.popup-tri');
        const popupNewFolder = document.querySelector('.popup-new-folder');
        const newFolderAnnuler = document.querySelector('.new-folder-annuler');
        const newFolder = document.querySelector('.create-folder');

        sortingButton.addEventListener('click', function() {
            if (popupTri.style.display === 'flex') {
                popupTri.style.display = 'none';
            } else {
                popupTri.style.display = 'flex';
            }
        });

        newFolderAnnuler.addEventListener('click', function() {
            popupNewFolder.style.display = 'none';
        });
        newFolder.addEventListener('click', function() {
            popupNewFolder.style.display = 'flex';
        });
    });
</script>
</html>