<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>Storage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="" class="img-logo">
        </div>
        <div class="search-bar">
            <img class="loupe" src="{% static 'img/loupe.png' %}" alt="">
            <form id="search-form" method="get">
                <input type="text" id="search-input" class="text-zone" placeholder="Chercher un fichier" name="search" value="{{ search_query }}">
            </form>
        </div>
        <a href="/profile" class="user-button"><img src="{% static 'img/user.png' %}" alt="" class="user"></a>
    </header>

    <main>
        <div class="left-bar">  
            <a class="back bar" href="javascript:history.back()">
                <p>RETOUR</p>
            </a>
            <a class="home bar" href="/main">
                <p>HOME</p>
            </a>
            <div class="import-file bar" onclick="document.getElementById('file-input').click()">
                <p>IMPORTER UN FICHIER</p>
            </div>
            <div class="create-folder bar">
                <p>AJOUTER UN DOSSIER</p>
            </div>
            <a class="logout bar" href="/logout">
                <p>DECONNEXION</p>
            </a>
        </div>

        <form id="upload-form" action="{% url 'import_file' %}" method="post" enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ directory }}">
            <input type="file" id="file-input" name="file" onchange="submitFile()">
        </form>

        <div class="explorer">
            <div class="explorer-head">
                <div class="path">
                    <H1>{{viewer_path}}</H1>
                </div>
            </div>
            <div class="explorer-files">
                <table>
                    <thead>
                        <tr>
                            <th><a href="?sort=name&order={% if sort_by == 'name' and order == 'asc' %}desc{% else %}asc{% endif %}">Nom</a> /
                                <a href="?sort=type&order=asc">Type</a>
                            </th>
                            <th><a href="?sort=date&order={% if sort_by == 'date' and order == 'asc' %}desc{% else %}asc{% endif %}">Date de modification</a></th>
                            <th><a href="?sort=owner&order={% if sort_by == 'owner' and order == 'asc' %}desc{% else %}asc{% endif %}">Propriétaire</a></th>
                            <th><a href="?sort=size&order={% if sort_by == 'size' and order == 'asc' %}desc{% else %}asc{% endif %}">Taille du fichier</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr class="file">
                                <td class="name">
                                    <div class="type">
                                        {% if file.file_type == 'video' %}
                                            <img src="{% static 'img/icons/video.png' %}" alt="Video File">
                                        {% elif file.file_type == 'image' %}
                                            <img src="{% static 'img/icons/image.png' %}" alt="Image File">
                                        {% elif file.file_type == 'texte' %}
                                            <img src="{% static 'img/icons/texte.png' %}" alt="Texte File">
                                        {% elif file.file_type == 'pdf' %}
                                            <img src="{% static 'img/icons/pdf.png' %}" alt="Pdf File">
                                        {% elif file.file_type == 'excel' %}
                                            <img src="{% static 'img/icons/excel.png' %}" alt="Calc File">
                                        {% elif file.file_type == 'audio' %}
                                            <img src="{% static 'img/icons/audio.png' %}" alt="Audio File">
                                        {% elif file.file_type == 'doc' %}
                                            <img src="{% static 'img/icons/doc.png' %}" alt="Doc File">
                                        {% elif file.file_type == 'ppt' %}
                                            <img src="{% static 'img/icons/ppt.png' %}" alt="Ppt File">
                                        {% endif %}
                                    </div>
                                    {% if file.type == 'file' %}
                                        <a href="/uploads/{{cut_directory2}}/{{ file.name }}" id='file-{{file.name}}' draggable="true" ondragstart="drag(event)" target="_blank" >{{ file.name }}</a>
                                    {% elif file.type == 'directory' %}
                                        <a href="{% url 'main_with_path' cut_directory|add:'/'|add:file.name %}" id='folder-{{file.name}}' ondrop="drop(event)" ondragover="allowDrop(event)">{{ file.name }}/</a>
                                    {% endif %}
                                </td>
                                <td class="date">{% if file.type != 'directory' %}{{file.mtime}}{% endif %}</td>
                                <td class="owner">{% if file.type != 'directory' %}USERNAME{% endif %}</td>
                                <td class="size">{% if file.type != 'directory' %}{{ file.size }} Ko{% endif %}</td>
                                <td class="options">
                                    <div class="plus"><img src="{% static 'img/points.png' %}" alt=""></div>
                                    <div class="popup-plus">
                                        <img class="plus-rename" src="{% static 'img/rename.png' %}" title="Renommer" alt="">
                                        <img class="plus-download" src="{% static 'img/download.png' %}" title="Télécharger" alt="">
                                        <img class="plus-copy" src="{% static 'img/copy.png' %}" title="Copier" alt="">
                                        <img class="plus-move" src="{% static 'img/move.png' %}" title="Déplacer" alt="">
                                        <img class="plus-delete" src="{% static 'img/delete.png' %}" title="Supprimer" alt="">
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="popup-new-folder">
        <div class="new-folder-title">Ajouter un dossier</div>
        <form action="{% url 'create_folder' %}" method="post" class="new-folder-name">
            {% csrf_token %}
            <input type="text" name="folder_name" class="new-folder-name-input" placeholder="Nom du dossier">
            <input type="hidden" name="path" value="{{ directory }}">
            <button type="submit">Créer</button>
        </form>
        <div class="new-folder-annuler">Annuler</div>
    </div>
    </main>

    <footer></footer>
</body>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var file = document.getElementById(data);
        var file_name = file.innerText;
        var file_type = file.id.split('-')[0];
        var folder = ev.target;
        var folder_name = folder.innerText;
        var folder_type = folder.id.split('-')[0];
        console.log('{% url "move_file" %}', '{% url "download_file" %}', "{{ directory|escapejs }}");
        if (folder_type == 'folder' && file_type == 'file') {
            fetch('{% url "move_file" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({path: "{{ directory|escapejs }}", file_name: file_name, folder_name: folder_name })
            })
            .then(response => response.json())
            console.log('file moved');
            locaton.reload();
            
            
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const sortingButton = document.querySelector('.sorting-button');
        const popupTri = document.querySelector('.popup-tri');
        const popupNewFolder = document.querySelector('.popup-new-folder');
        const newFolderAnnuler = document.querySelector('.new-folder-annuler');
        const newFolder = document.querySelector('.create-folder');
        const plusButtons = document.querySelectorAll('.plus');
        const renamebutton = document.querySelectorAll('.plus-rename');
        const downloadbutton = document.querySelectorAll('.plus-download');
        const deletebutton = document.querySelectorAll('.plus-delete');
        const triChoices = document.querySelectorAll('.tri-choice');
        const searchInput = document.querySelector('#search-input');

        plusButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const popup = this.nextElementSibling;
                    if (popup.style.display === 'flex') {
                        popup.style.display = 'none';
                    } else {
                        document.querySelectorAll('.popup-plus').forEach(p => p.style.display = 'none');
                        popup.style.display = 'flex';
                    }
                });
            });

        renamebutton.forEach(button => {
            button.addEventListener('click', function() {
                const file = this.closest('.file');
                const name = file.querySelector('.name a').innerText;
                const newName = prompt('Nouveau nom du fichier', name);
                if (newName) {
                    fetch('{% url "rename_file" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                    body: JSON.stringify({path: "{{ directory|escapejs }}", old_name: name, new_name: newName })
                })
                }
            });

        });

        deletebutton.forEach(button => {
            button.addEventListener('click', function() {
                const file = this.closest('.file');
                const name = file.querySelector('.name a').innerText;
                fetch('{% url "delete_file" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({path: "{{ directory|escapejs }}", file_name: name })
                })
                .then(response => response.json())
                document.querySelectorAll('.popup-plus').forEach(p => p.style.display = 'none');
                    
                
            });
        });

        downloadbutton.forEach(button => {
            button.addEventListener('click', function() {
                const file = this.closest('.file');
                const name = file.querySelector('.name a').innerText;
                fetch('{% url "download_file" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({path: "{{ directory|escapejs }}", file_name: name })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.url);
                    const link = document.createElement('a');
                    link.href = data.url;
                    link.download = name;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                });
            });
        });

        newFolderAnnuler.addEventListener('click', function() {
            popupNewFolder.style.display = 'none';
        });
        newFolder.addEventListener('click', function() {
            popupNewFolder.style.display = 'flex';
        }); 

        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            const rows = document.querySelectorAll('#file-list .file');
            rows.forEach(row => {
                const fileName = row.querySelector('.name a').textContent.toLowerCase();
                if (fileName.includes(filter)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });


    function submitFile() {
        document.getElementById('upload-form').submit();
    }

</script>
</html>