body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; /* Light grey background */
    color: #333;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#FF416C,#FF4B2B); /* Firebrick */
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 100%;
}

.img-logo {
    height: 110%;
    margin-top: auto;
}

.search-bar {
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white; /* Crimson */
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}
.search-bar:hover{
    cursor: text;
}

.loupe {
    height: 100%;
}
.loupe:hover{
    cursor: pointer;
}

.text-zone {
    margin: auto;
    font-size: 1em;
    color: #333;
}

.user-button {
    height: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
}

.user-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.user {
    height: 70%;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
.bar{
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.bar:hover{
    cursor: pointer;
    background-color: #ffe4e1;
} 

.explorer {
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 20px;
    min-height: fit-content;
}

.explorer-head {
    height: 50px;
    margin-top: 0;
    background-color: #ffe4e1; 
    padding: 10px;
    color: #333;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.path{
    display: flex;
    align-items: center;
    height: 100%;
}

.path h1 {
    height: 100%;
    display: flex;
    align-items: center;
}

.sorting-button{
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
}
.sorting-button:hover{
    opacity: 0.6;
}
.sorting-button img{
    height: 100%;
    cursor: pointer;
}


.explorer-files {
    padding: 10px;
    background-color: #fff5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 1.3em;
}
tr{
    border-bottom: 1px solid #f5f5f5;
}
td{
    padding: 10px;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: row;
}
.type img{
    height: 30px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: underline;
}


.popup-plus{
    height: 20px;
    display: none;
    flex-direction: row;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.plus{
    height: 20px;
    display: flex;
}
.plus img{
    height: 100%;
    cursor: pointer;
}
.popup-plus{
    border: #333 solid 2px;
    border-radius: 5px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    width: 110px;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.popup-plus img{
    cursor: pointer;
}
.plus-rename{
    height: 110%;
}
.plus-delete{
    height: 80%;
}
.plus-download{
    height: 100%;
}
.plus-move{
    height: 80%;
}
.plus-copy{
    height: 100%;
}

.popup-tri{
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 175px;
    height: auto;
    width: 250px;
    border-radius: 5px;
    background-color: #FF4B2B;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.tri-title{
    margin-top: 30px;
    color: #f5f5f5;
    font-size: 2em;
    font-weight: bold;
}
.tri-choices{
    margin-bottom: 30px;
}
.tri-choice{
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 1.1em;
}
.tri-choice:hover{
    cursor: pointer;
    opacity: 0.9;
}

.popup-new-folder{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 20%;
    background-color: #FF416C;
    color: #f5f5f5;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
.new-folder-title{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.new-folder-name{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.new-folder-name input{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.new-folder-name button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.new-folder-name button:hover{
    opacity: 0.93;
}
.new-folder-annuler{
    cursor: pointer;
    margin-bottom: 10px;
}